* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(215, 174, 178);
    background: linear-gradient(180deg, rgba(215, 174, 178, 1) 0%, rgba(255, 155, 153, 1) 29%, rgba(255, 110, 131, 1) 76%);
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgb(215, 174, 178);
    background: linear-gradient(180deg, rgba(215, 174, 178, 1) 0%, rgba(255, 155, 153, 1) 29%, rgba(255, 110, 131, 1) 76%);
}

.login-w-num {
    margin: auto;
    color: white;
    font-size: 14px;
    position: relative;
    left: 10%;
}

.numberInput {
    margin: auto;
    position: relative;
    top: 10px;
    left: 50%;
    color: #1381a2;
    transform: translateX(-50%);
    padding: 12px;
    outline: none;
    border: thin #8999a8;
    border-radius: 12px;
    width: 80%;
}

.log-in-btn {
    margin: auto;
    position: relative;
    color: white;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1381a2;
    width: 80%;
    border-radius: 40px;
    padding: 12px;
    outline: none;
}

.log-in-btn:hover,
.log-in-btn:focus,
.numberInput:hover,
.numberInput:focus {
    outline: none;
}

.log-in-btn:hover,
.log-in-btn:focus {
    background-color: #136983;
    color: white;
}

.or {
    font-size: 14px;
    position: relative;
    top: 5px;
    color: white;
}

.fb,
.google {
    border-radius: 100%;
    background-color: white;
    font-size: 25px;
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #1381a2;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.fb:hover,
.fb:focus,
.google:hover,
.google:focus {
    outline: none;
    color: #8999a8;
}